<app-page-header [pageHeaderModal]="getItemHeader()" 
[breadCrumbItems]="[{text:'Lançamentos', link:'/entries'},{text:'Formulário de Lançamentos - ' + currentAction}]">
</app-page-header>
<form [formGroup] = "resourceForm" (submit)="submitForm()">
    <div class="card mb-4">
        <div class="card-header">
            Informações sobre Lançamento
        </div>
        <div class="card-body">
            <div class="alert alert-danger" *ngIf="serverErrorMessages && serverErrorMessages.length > 0">
                <ul>
                    <li>
                        Erro generalizado
                    </li>
                </ul>
            </div>

            <div class="form-row">
                
                <div class="form-group col-md-2">
                    <!-- Campo tipo -->
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" formControlName="tipo" class="form-control">                        
                            <option *ngFor="let t of entryType" [value]="t[0]">{{t[1]}}</option>                        
                    </select>
                    <div class="text-danger" *ngIf="resourceForm.get('tipo').invalid && resourceForm.get('tipo').touched">
                        <div *ngIf="resourceForm.get('tipo').errors.required">Item Obrigatorio</div>
                        
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <!-- Campo Nome -->
                    <label for="nome">Lançamento</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">
                    <div class="text-danger" *ngIf="resourceForm.get('nome').invalid && resourceForm.get('nome').touched">
                        <div *ngIf="resourceForm.get('nome').errors.required">Dado Obrigatorio</div>
                        <div *ngIf="resourceForm.get('nome').errors.minlength">No mínimo 2 caracteres</div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <!-- Campo Amount -->
                    <label for="amount">Valor</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                R$
                            </div>
                        </div>
                        <input type="text"  mask="separator.2" thousandSeparator="."  (blur)="onBlur($event)"
                        class="form-control text-right" id="amount" formControlName="amount">                    
                    </div>

                    <div class="text-danger" *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').touched">
                        <div *ngIf="resourceForm.get('amount').errors.required">Dado Obrigatorio</div>                        
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <!-- Campo data -->
                    <label for="amount">Data</label>

                    
                        <p-calendar id="date" formControlName="date" inputStyleClass="form-control bg-white text-dark"
                        dataType="string" dateFormat = "dd/mm/yy" [showButtonBar]="true" >     

                        </p-calendar>        
                    

                    <div class="text-danger" *ngIf="resourceForm.get('date').invalid && resourceForm.get('date').touched">
                        <div *ngIf="resourceForm.get('date').errors.required">Dado Obrigatorio</div>                        
                    </div>
                </div>
            </div>
            
            <div class="form-row">     
                
                <div class="form-group col-md-2">
                    <!-- Campo Paid -->
                    <label for="paid">Pago</label>
                    <div class="btn-group">
                        <label [class.active]="resourceForm.get('paid').value == true" 
                            class="btn btn-outline-info" (click)="resourceForm.get('paid').setValue(true)">
                                Pago
                        </label>
                        <label  [class.active]="resourceForm.get('paid').value == false" 
                            class="btn btn-outline-info" (click)="resourceForm.get('paid').setValue(false)">
                            Pendente
                    </label>
                    </div>

                    <div class="text-danger" *ngIf="resourceForm.get('paid').invalid && resourceForm.get('paid').touched">
                        <div *ngIf="resourceForm.get('paid').errors.required">Dado Obrigatorio</div>                        
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <!-- Campo tipo -->
                    <label for="categoriaId">Categoria</label>
                    <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-control">                        
                            <option *ngFor="let c of categorias | sort:'id'" [value]="c.id">{{c.nome}}</option>
                                                   
                    </select>
                    <div class="text-danger" *ngIf="resourceForm.get('categoriaId').invalid && resourceForm.get('categoriaId').touched">
                        <div *ngIf="resourceForm.get('categoriaId').errors.required">Item Obrigatorio</div>
                        
                    </div>
                </div>

                <div class="form-group col-md-7">
                    <!-- Campo Descrição -->
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg" [disabled] = "subimmitingForm || resourceForm.invalid">
        Salvar
    </button>
</form>
<!-- <pre>
    <div *ngFor= "let item of items | keyvalue">
        {{item.value.acao}}
    </div>
</pre> -->